
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: black
}
 a:hover {
    color: blueviolet;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

li {
    padding: 5px;
    font-size: 22px;
    text-align: center;
   
}

.list{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list h2 {
    font-size: 48px;
}